.side-panel {
  flex: 0 0 380px;
  padding-right: 1rem;

  display: flex;
  flex-direction: column;

  span[role='img'] {
    padding-right: 1rem;
  }

  li {
    display: flex;
    align-items: center;

    svg {
      padding-right: 1rem;
    }
  }

  &__food {
    &::before {
      content: '';
      width: 1rem;
      height: 1rem;
      display: block;
      margin-right: 1rem;
    }
  }

  &--common {
    &::before {
      background: #a0d541;
    }
  }

  &--special {
    &::before {
      background: #ffa700;
    }
  }

  &__score {
    margin-bottom: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
    }

    ul {
      overflow: auto;

      li {
        justify-content: space-between;
      }
    }

    small {
      font-size: 0.75rem;
      padding-right: 1rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fc6d26;
    }
  }
}
