@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

html {
  height: 100%;
  font-size: 1rem;
}

body {
  margin: 0;
  height: 100%;
  padding: 1rem;
  font-family: 'DM Mono', monospace;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.snake-space {
  width: 100%;
  flex: 2;
}
